[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalevents = "~=0.1.27"
python-dateutil = "~=2.8.2"
python-decouple = "~=3.5"
uecp = ">=0.3.0"
pyserial = "~=3.5"
pyserial-asyncio = "*"
aiohttp = "~=3.8.1"
prometheus-client = "*"
prometheus-async = {extras = ["aiohttp"], version = "*"}

[dev-packages]
black = "~=21.12b0"
pytest = "~=6.2.5"
pytest-asyncio = "*"
pytest-datadir = "*"
pytest-httpserver = "*"

[requires]
python_version = "3.9"
